<div class="frt-play-bg">
  <canvas
    class="frt-canvas"
    #glCanvas
    width="1920"
    height="1080"
    (mousemove)="mouseMove($event)"
    (mouseup)="mouseUp($event)"
    (window:resize)="updateCanvasSize($event)">
  </canvas>

  <div *ngIf="shouldDisplayMenu()">
    <div class="container frt-menu">
      <button class="btn btn-block btn-primary frt-menu-button" (click)="save()">Save</button>
      <button class="btn btn-block btn-primary frt-menu-button" (click)="quit()">Quit</button>
    </div>
  </div>

</div>

